@import "bootstrap/bootstrap";
@import "Ginkgo";

body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;
    padding: 0;
    color: rgba(90, 90, 90, 1);

    font-size: medium;
    text-align: center;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue,
        Helvetica, Arial, sans-serif;
    // 文字染色，背景色、文字色
    @include selection(rgba(120, 186, 255, 1), rgba(255, 255, 255, 1));
}
header {
	// border-left: 4px solid #de0717;
	.ShinKong {
		padding: 30px 60px;

		@include range-width(0, 450px) {
			padding: 15px 20px;
		}
		

		> img {
			width: 200px;
			height: 100px;
			@include range-width(0, 450px) {
				width: 80px;
				height: 50px;
			}
			
		}

		.text {
			font-family: 'NotoSans TC', sans-serif;
			font-size: 30px;
			letter-spacing: 2.4px;
			color: #777575;

			@include range-width(402px, 451px) {
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 1.11px;
			}

			@include range-width(376px, 402px) {
				font-size: 17px;
				font-weight: 500;
				letter-spacing: 1.11px;
			}

			@include range-width(0, 376px) {
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 1.11px;
			}
		}
	}
}

.banner {
	padding-top: 60px;
	background-color: #e4f543;
	// border-left: 4px solid #de0717;

	.banner_box {
		position: relative;

		.banner_logo {
			position: absolute;
			top: 20%;
			right: 20%;

			@include range-width(1200px, 1441px) {
				top: 20%;
				right: 5%;
			}
			@include range-width(0, 451px) {
				position: relative;
				top: unset;
				right: unset;
			}

			> img {
				width: 500px;

				@include range-width(1200px, 1441px) {
					width: 300px;
				}

				@include range-width(0, 451px) {
					width: auto;
				}

			}

			.text {
				> p {
					margin: 1rem .5rem;
					font-family: 'NotoSans TC', sans-serif;
					font-size: 75px;
					font-weight: bold;
					letter-spacing: 1.21px;
					text-align: center;
					color: #f12e9c;

					@include range-width(1200px, 1441px) {
						font-size: 65px;
					}

					@include range-width(0, 451px) {
						font-size: 34px;	
					}
				}
			}	
		}
	}

	.banner_img {
		width: 100%;
		height: 100%;

		picture {
			display: inline-block;
			
			> img {
				width: 100%;
				max-width: 100%;
				object-fit: cover;
			}
		}
	}	
}

.navbar {
	padding: 60px 0 15px 0;
	background-color: #facae7;
	// border-left: 4px solid #de0717;
	z-index: 1;

	@include range-width(0, 451px) {
		padding: 30px 0 15px 0;
	}

	&.origin_color {
		background-color: #ffef02;	
	}
	&.spceial_color {
		background-color: #f6d6f7;
	}

	.nav {
		.nav-item {
			width: 230px;

			@include range-width(0, 451px) {
				flex: 1;
				width: auto;
			}

			span {
				font-family: 'NotoSans TC', sans-serif;
				font-size: 28px;
				font-weight: 500;
				letter-spacing: 1.75px;
				text-align: center;
				color: #b695c2;
				background-color: #f9e5fa;

				@include range-width(0, 451px) {
					font-size: 16px;
					letter-spacing: 1px;
				}

				&.active {
					// opacity: 1;
					color: #7e1fd2;
					background-color: #fff;
				}
			}
		}
	}
}

.slide-up {
	animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both
}

@keyframes slide-up {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.brand-origin {
	display: none;
	width: 100%;
	background-color: #91d9ed;
	// border-left: 4px solid #de0717;	

	.bo_s1 {
		position: relative;
		display: flex;
		align-items: center;
		padding-top: 15px;
		background-color: #ffef02;
		z-index: 0;

		@include range-width(0, 451px) {
			flex-direction: column;
		}

		.tiffany_img {
			width: 50%;
			position: relative;
			left: 0;
			
			@include range-width(394px, 451px) {
				width: auto;
				left: -27px;

			}

			@include range-width(376px, 394px) {
				width: auto;
				left: -21px;

			}

			@include range-width(0, 376px) {
				width: auto;
				left: -22px;
			}

			picture {
				display: inline-block;

				img {
					width: 100%;

					@include range-width(0, 376px) {
						img {
							max-width: 99%;
						}
					}
				}

			}
		}
		.container {
			padding: 0 46px;
			width: 50%;

			@include range-width(0, 451px) {
				width: auto;
			}

			> h4 {
				margin-top: 30px;
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 24px;
				font-weight: 500;
				line-height: 1.75;
				letter-spacing: 0.8px;
				text-align: justify;
				color: #4a4a4a;

				@include range-width(0, 451px) {
					font-size: 16px;
					line-height: 1.17;
					letter-spacing: 1.2px;	
				}
			}

			> p {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 21px;
				line-height: 1.91;
				letter-spacing: 1.2px;
				text-align: justify;
				color: #5b5d63;

				@include range-width(0, 451px) {
					font-size: 16px;
					line-height: 1.75;
					letter-spacing: 0.8px;	
				}
			}

			.sign_item {
				margin-top: 55px;				

				@include range-width(0, 451px) {
					margin-top: 10px;
				}

				> p {
					display: inline-block;
					width: 240px;
					font-size: 14px;
					font-weight: 500;
					line-height: 1.71;
					text-align: left;
					color: #4a4a4a;

					@include range-width(0, 451px) {
						font-size: 10px;	
						font-weight: 600;
						line-height: 1.6;
						text-align: right;
					}
				}
			}
		}
	}

	.bo_s2 {
		background-color: #ffef02;
		background-image: url(../img/BG_wave.svg);

		@include range-width(0, 451px) {
			background-position: 100% 90%;
			background-repeat: no-repeat;
		}

		.container {
			padding: 0 46px;
			max-width: 1080px;

			@include range-width(0, 451px) {
				max-width: auto;
			}

			.name_origin {
				position: relative;
				padding: 50px 0;
				text-align: left;
				z-index: 1;
	
				> h3 {
					> span {
						position: relative;
						right: 0;
						padding: 10px 30px;
						font-family: 'Noto Sans TC', sans-serif;
						font-size: 28px;
						font-weight: bold;
						line-height: 2.21;
						letter-spacing: 2px;
						text-align: center;
						color: #fff;
						background-color: #ff9500;

						@include range-width(0, 451px) {
							right: 30px;
							font-size: 20px;
							line-height: 2.38;
							letter-spacing: 1.43px;
						}
					}
				}
	
				> p {
					font-family: 'Noto Sans TC', sans-serif;
					font-size: 21px;
					font-weight: 500;
					line-height: 2;
					letter-spacing: 1px;
					text-align: justify;
					color: #636363;

					@include range-width(0, 451px) {
						font-size: 16px;	
						line-height: 1.75;
						letter-spacing: 0.8px;
					}
					
				}
			}
		}
		
	}
}

.happy-skin {
	// border-left: 4px solid #de0717;

	.hs_s1 {
		position: relative;
		background-color: #facae7;
		padding: 35px 0 60px 0;

		@include range-width(0, 451px) {
			padding: 15px 0 30px 0;
		}

		.container {
			max-width: 1200px;

			.background_6 {
				position: absolute;
				top: 50px;
				left: 0;

				@include range-width(0, 451px) {
					top: calc(50% - 445px / 2);		
					left: calc(50% - 320px / 2);
				}

				> img {
					width: 700px;
					height: 800px;

					@include range-width(0, 451px) {
						width: 320px;
						height: 445px;
					}
				}
			}
	
			.title {
				margin: 35px 0 50px 0;
				font-family: 'NotoSans TC', sans-serif;
				font-size: 90px;
				font-weight: bold;
				letter-spacing: 20px;
				opacity: 0;
				color: #ff25ae;	
				text-align: justify;
				
				@include range-width(376px, 451px) {
					margin: 0 0 8px 0;
					font-size: 36px;
					line-height: 1.25;
					letter-spacing: 4px;
				}
	
				@include range-width(0, 376px) {
					margin: 0 0 8px 0;
					font-size: 34px;
					line-height: 1.25;
					letter-spacing: 4px;
				}
			}
	
			.item {
				margin-bottom: 30px;
				opacity: 0;
	
				&:nth-of-type(3) {
					margin-bottom: 0;
					.item_title {
						letter-spacing: normal;
						text-align: center;

						@include range-width(0, 451px) {
							text-align: left;
						}
					}
				}
	
				.item_title {
					margin: 30px 0;
					font-family: 'NotoSans TC', sans-serif;
					font-size: 39px;
					font-weight: bold;
					letter-spacing: 1.6px;
					color: #ff25ae;
					text-align: left;

	
					@include range-width(376px, 451px) {
						margin: 0 0 8px 0;
						font-size: 22px;
						line-height: 1.45;
						letter-spacing: 1.1px;
						text-align: center;
					}
	
					@include range-width(0, 376px) {
						margin: 0 0 8px 0;
						font-size: 19px;
						line-height: 1.45;
						letter-spacing: 1.1px;
						text-align: center;
					}
				}
				
				.item_text {
					font-family: 'NotoSans TC', sans-serif;
					font-size: 29px;
					font-weight: 500;
					line-height: 1.89;
					letter-spacing: 1.4px;
					text-align: justify;
					color: #717076;

					@include range-width(394px, 451px) {
						font-size: 18px;	
						line-height: 1.76;
					}

					@include range-width(0, 394px) {
						font-size: 17px;	
						line-height: 1.76;
					}


				}
				
				.svg_item {
					display: flex;
					justify-content: center;

					&:nth-of-type(1) {

						@include range-width(0, 451px) {
							justify-content: space-between;
						}

						.svg {
							&:nth-of-type(2) {
								margin: 15px 120px 0 120px;

								@include range-width(0, 451px) {
									margin: 15px 0 0 0;
								}
							}
						}
					}

					&:nth-of-type(2) {

						@include range-width(0, 451px) {
							justify-content: space-between;
						}

						.svg {
							margin: 40px 0 0 0;

							@include range-width(0, 451px) {
								margin: 15px 0 0 0;
							}

							&:nth-of-type(2) {
								margin: 40px 50px 0 50px;

								@include range-width(0, 451px) {
									margin: 15px 0 0 0;
								}
							}
						}
					}

					.svg {
						display: flex;
						align-items: center;
						margin-top: 15px;
	
						@include range-width(0, 451px) {
							width: 30%;
							flex-direction: column;
							align-items: center;
						}
	
						> img {
							width: 102px;
							height: 96px;
	
							@include range-width(0, 451px) {
								width: 88px;
								height: 83px;
							}
						}
						
		
						p {
							position: relative;
							margin: .5rem 0 .5rem 1rem;
							font-size: 28px;
							font-weight: 500;
							color: #717076;
							
							@include range-width(376px, 451px) {
								margin: .5rem auto;
								font-size: 14px;
							}
	
							@include range-width(0, 376px) {
								margin: .5rem auto;
								font-size: 13px;
							}
		
							> span {
								font-size: 20px;
								vertical-align: baseline;

								@include range-width(0, 451px) {
									display: block;
									font-size: 10px;
								}
							}
						}
					}
				}
				
			}	
		}
		
	}
}

.special-feature {
	display: none;
	width: 100%;
	// border-left: 4px solid #de0717;
	position: relative;

	.sf_s1 {
		padding: 15px 0 30px 0;
		background-color: #f6d6f7;

		.title {
			font-size: 245px;
			font-weight: 600;
			opacity: 0.66;
			line-height: 0.81;
			color: #ffebfd;
			text-align: left;

			@include range-width(376px, 451px) {
				font-size: 70px;
				line-height: 0.87;
			}	

			@include range-width(0, 376px) {
				font-size: 65px;
				line-height: 0.87;
			}
		}

		.item {
			display: flex;
			margin-top: 70px;

			@include range-width(0, 451px) {
				flex-direction: column;
				margin-top: 0;
			}

			h3.item_title {
				width: 50%;
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 90px;
				font-weight: bold;
				letter-spacing: 8.08px;
				color: #dcfc25;
				text-shadow: 2px 2px 0 #F58663, 4px 4px 0 #F58663;
				text-align: left;

				@include range-width(0, 451px) {
					margin: 5px 0 16px 0;
					width: auto;
					font-size: 38px;
					font-weight: 900;
					letter-spacing: 2.87px;
				}	
			}
			
			.item_content {
				width: 50%;

				@include range-width(0, 451px) {
					width: auto;
				}

				h4 {
					margin-top: 15px;
					font-family: 'Noto Sans TC', sans-serif;
					font-size: 32px;
					font-weight: bold;
					line-height: 1.38;
					letter-spacing: 1px;
					text-align: justify;
					color: #4a4a4a;

					@include range-width(0, 451px) {
						margin-top: 0;
						font-size: 20px;
						line-height: normal;
						letter-spacing: 1px;	
					}
		
					> span {
						font-family: 'Poppins', sans-serif;
						font-size: 32px;
						font-weight: bold;
						line-height: 1.38;
						letter-spacing: 1px;
						text-align: justify;
						color: #4a4a4a;

						@include range-width(0, 451px) {
							font-size: 22px;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 0.6px;
						}	
					}
				}
		
				p {
					font-family: 'Noto Sans TC', sans-serif;
					font-size: 22px;
					line-height: 1.85;
					letter-spacing: 1px;
					text-align: justify;
					color: #4a4a4a;

					@include range-width(0, 451px) {
						font-size: 16px;
						line-height: 1.75;
						letter-spacing: 0.8px;	
					}
				}
			}
			
		}
		
	}

	.sf_s2 {
		position: relative;
		padding: 30px 0;
		background-color: #ffebfd;

		.container {
			padding: 10px .75rem;

			h2 {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 40px;
				font-weight: bold;
				letter-spacing: 2.27px;
				text-align: center;
				color: #ff7679;

				@include range-width(0, 451px) {
					font-size: 26px;
					letter-spacing: 1px;
				}
			}

			.ph_text {
				margin-top: 50px;

				@include range-width(0, 451px) {
					margin-top: 30px;
				}

				> img {
					width: 100%;
					max-width: 1140px;

					@include range-width(394px, 451px) {
						max-width: 100%;
					}
					@include range-width(0, 394px) {
						max-width: 99%;
					}
				}
			}

			.item {
				display: flex;
				margin: 100px auto 70px auto;
				max-width: 1020px;

				@include range-width(0, 451px) {
					max-width: auto;
					flex-direction: column;
					align-items: center;
					margin: 30px auto 0 auto;
				}
				.ph_pic01 {
					margin-right: 35px;
					padding: 16px 0 40px 0;
					background-color: rgba(255, 255, 255, .6);
					border-radius: 94px; 

					@include range-width(0, 451px) {
						margin-right: 0;
						width: 360px;
					}
	
					h3 {
						margin: 15px 0;
						font-family: 'Noto Sans TC', sans-serif;
						font-size: 24px;
						font-weight: 500;
						text-align: center;
						color: #ff7679;

						@include range-width(0, 451px) {
							font-size: 18px;
						}
					}
				}
	
				.ph_pic02 {
					padding: 16px 0 40px 0;
					background-color: rgba(255, 255, 255, .6);
					border-radius: 94px; 

					@include range-width(0, 451px) {
						margin: 30px auto 0 auto;
						width: 240px;
					}
	
					h3 {
						margin: 15px 0;
						font-family: 'Noto Sans TC', sans-serif;
						font-size: 24px;
						font-weight: 500;
						text-align: center;
						color: #ff7679;

						@include range-width(0, 451px) {
							font-size: 18px;
						}
					}
				}
			}
			
		}
	}

	
}

.mixing {
	background-color: #ff9dd3;
	padding: 50px 0;	
	// border-left: 4px solid #de0717;

	@include range-width(0, 451px) {
		padding: 25px 0;
	}
	.title {
		padding: 50px 0 0 0;
		background-image: linear-gradient(-45deg, #e3f2fa 8%, #ffffff 8%, #ffffff 50%, #e3f2fa 50%, #e3f2fa 58%, #ffffff 58%, #ffffff 100%);
		background-size: 20px 20px;

		@include range-width(0, 451px) {
			padding: 50px 0;
		}	

		.hand {
			margin-top: 35px;
			text-align: left;

			picture {
				display: inline-block;
				img {
					width: 100%;

					@include range-width(0, 376px) {
						max-width: 99%;
					}
				}
				
			}
			
		}
		.title_text {
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			bottom: 50px;

			@include range-width(1281px, 1441px) {
				left: 200px;
			}

			@include range-width(0, 451px) {
				bottom: 0;
			}



			> h2 {
				font-family: 'Poppins', sans-serif;
				font-size: 110px;
				font-weight: 500;
				line-height: 1.15;
				letter-spacing: 4px;
				color: #bde2f5;
				text-align: left;
				
				@include range-width(394px, 451px) {
					left: unset;
					bottom: unset;
					display: block;
					margin-left: 12px;
					font-size: 58px;
					line-height: 1.14;
					letter-spacing: .7px;
					text-align: left;
				}

				@include range-width(0, 394px) {
					left: unset;
					bottom: unset;
					display: block;
					margin-left: 12px;
					font-size: 50px;
					line-height: 1.14;
					letter-spacing: .7px;
					text-align: left;
				}

				&:nth-of-type(2) {
					margin-top: 34px;
					font-size: 86px;
					font-weight: bold;

					@include range-width(394px, 451px) {
						display: block;
						margin-top: 1rem;
						margin-left: 12px;
						font-size: 43px;	
						line-height: 1.33;
						letter-spacing: 1.6px;
					}

					@include range-width(376px, 394px) {
						display: block;
						margin-top: 1rem;
						margin-left: 12px;
						font-size: 39px;	
						line-height: 1.33;
						letter-spacing: 1.6px;
					}

					@include range-width(0, 376px) {
						display: block;
						margin-top: 1rem;
						margin-left: 12px;
						font-size: 39px;
						line-height: 1.33;
						letter-spacing: 1.6px;
					}
				}
			}
		}
	}

	.container {
		width: 996px;
		margin: 0 auto;
		padding: 60px 0 10px 0;

		@include range-width(0, 451px) {
			padding-top: 45px;
			width: 100%;
		}

		.item {
			padding: 0 15px;

			.item_title {
				font-family: 'Poppins', sans-serif;
				font-size: 34px;
				font-weight: bold;
				letter-spacing: 2.13px;
				text-align: justify;
				color: #dfff00;

				@include range-width(0, 451px) {
					font-size: 28px;	
					font-weight: 600;
					line-height: 1.21;
					letter-spacing: normal;
				}
			}
			
			.item_text {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 22px;
				font-weight: 500;
				line-height: 2;
				text-align: justify;
				color: #fff;

				@include range-width(0, 451px) {
					font-size: 18px;	
					line-height: 1.78;
				}	
			}
		}
	}
	
}

.elephant {
	padding: 30px 0;
	// border-left: 4px solid #de0717;

	.title {
		.title_text {
			> h2 {
				display: flex;
				align-items: baseline;
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 200px;
				font-weight: 900;
				letter-spacing: 6px;
				color: rgba(114, 112, 220, 0.1);

				@include range-width(376px, 451px) {
					font-size: 50px;	
				}

				@include range-width(0, 376px) {
					font-size: 48px;
				}

				> span {
					font-family: 'Lato', sans-serif;
					font-size: 210px;

					@include range-width(394px, 451px) {
						font-size: 60px;
					}

					@include range-width(376px, 394px) {
						font-size: 55px;
					}

					@include range-width(0, 376px) {
						font-size: 50px;
					}
				}
			}

			> h3 {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 120px;
				font-weight: bold;
				letter-spacing: 5px;
  				text-align: justify;
				color: rgba(114, 112, 220, 0.1);

				@include range-width(394px, 451px) {
					letter-spacing: 0.93px;
					font-size: 37px;
				}

				@include range-width(376px, 394px) {
					letter-spacing: 0.93px;
					font-size: 35px;
				}

				@include range-width(0, 376px) {
					letter-spacing: 0.93px;
					font-size: 31px;
				}
			}
		}
	}

	.content {
		position: relative;
		
		.slick-items {
			position: relative;
			padding: 65px 40px;
			
			.slick-prev {
				width: auto;
				height: auto;
				font-size: 40px;
				left: 7px;
			}

			.slick-next {
				width: auto;
				height: auto;
				font-size: 40px;
				right: 7px;
			}
			
			.item {
				position: relative;
				display: flex;
				align-items: center;
				@include range-width(769px) {
					&:hover {
						.modal_content_hover {
							
							display: inline-block;
						}
					}
				}
				
				.item_column {
					position: relative;
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					min-height: 100px;

					.item_imgs {
						flex: 1;
						display: flex;
						align-items: center;
						position: relative;
						width: 100%;
						
						> img {
							width: 100%;
						}
						.btn_more {
							position: absolute;
							right: 0;
							bottom: 0;
	
							.btn {
								outline: none;
								&:focus,&:active {
									outline: none !important;
								}
							}
						}		
					}
				}
				
				.modal_content_hover {
					display: none;
					position: absolute;
					top: calc(50% - 150px);
					border-radius: 100px;
					background-color: #f6dcff;
					padding: 25px 40px;
					width: 375px;
					// height: 300px;
					z-index: 1000;

					&.special-height {
						top: calc(50% - 160px);	
					}

					.modal_ph_hover {
						font-family: 'Poppins', sans-serif;
						
						font-size: 32px;
						font-weight: bold;
						text-align: center;
						color: #fff;

						&.ph57 {
							text-shadow: -1px -1px 0 #83cdee, 1px -1px 0 #83cdee, -1px 1px 0 #83cdee, 1px 1px 0 #83cdee;	
						}						

						&.ph40 {
							text-shadow: -1px -1px 0 #50e3c2, 1px -1px 0 #50e3c2, -1px 1px 0 #50e3c2, 1px 1px 0 #50e3c2;
						}		

						&.ph52 {
							text-shadow: -1px -1px 0 #b398d4, 1px -1px 0 #b398d4, -1px 1px 0 #b398d4, 1px 1px 0 #b398d4;
						}		

						&.ph35 {
							text-shadow: -1px -1px 0 #eb47aa, 1px -1px 0 #eb47aa, -1px 1px 0 #eb47aa, 1px 1px 0 #eb47aa;
						}		

						&.ph33 {
							text-shadow: -1px -1px 0 #26b8a7, 1px -1px 0 #26b8a7, -1px 1px 0 #26b8a7, 1px 1px 0 #26b8a7;
						}

						&.ph25 {
							text-shadow: -1px -1px 0 #f98c2b, 1px -1px 0 #f98c2b, -1px 1px 0 #f98c2b, 1px 1px 0 #f98c2b;
						}		

						&.ph58 {
							text-shadow: -1px -1px 0 #ec1d57, 1px -1px 0 #ec1d57, -1px 1px 0 #ec1d57, 1px 1px 0 #ec1d57;
						}		

						&.ph575 {
							text-shadow: -1px -1px 0 #97d6e5, 1px -1px 0 #97d6e5, -1px 1px 0 #97d6e5, 1px 1px 0 #97d6e5;
						}		

						&.ph55 {
							text-shadow: -1px -1px 0 #fca941, 1px -1px 0 #fca941, -1px 1px 0 #fca941, 1px 1px 0 #fca941;
						}		

					}

					.modal_title_hover {
						font-family: 'Noto Sans TC', sans-serif;
						font-size: 22px;
						font-weight: 500;
						letter-spacing: 1px;
						margin: 1rem 0;
						text-align: center;
						color: #4a4a4a;
					}

					.modal_effect_hover {
						display: inline-block;
						padding: 3px 15px;
						font-family: 'Noto Sans TC', sans-serif;
						font-size: 18px;
						text-align: center;
						color: #fff;

						&.ph57 {
							background-color: #83cdee;
						}

						&.ph40 {
							background-color: #51e1ca;
						}

						&.ph52 {
							background-color: #b398d4;
						}

						&.ph35 {
							background-color: #eb47aa;
						}

						&.ph33 {
							background-color: #26b8a7;
						}

						&.ph25 {
							background-color: #f98c2b;
						}

						&.ph{
							background-color: #cdca4e;
						}

						&.ph58{
							background-color: #ec1d57;
						}

						&.ph575 {
							background-color: #97d6e5;
						}

						&.ph55 {
							background-color: #fca941;
						}
					}

					.modal_text_hover {
						font-family: 'Noto Sans TC', sans-serif;
						font-size: 18px;
						line-height: 1.56;
						letter-spacing: 1px;
						text-align: center;
						color: #636363;
					}
				}
			}
		}

		.modal_mask	{
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: transparent;
			z-index: 100;
		}
		.modal_content_mobile {
			display: none;
			position: absolute;
			top: 0;
			border-radius: 100px;
			background-color: #f6dcff;
			padding: 25px 40px;
			z-index: 1000;

			.modal_ph_mobile {
				font-family: 'Poppins', sans-serif;
				font-size: 28px;
				font-weight: bold;
				text-align: center;
				color: #fff;

				&.ph57 {
					text-shadow: -1px -1px 0 #83cdee, 1px -1px 0 #83cdee, -1px 1px 0 #83cdee, 1px 1px 0 #83cdee;	
				}						

				&.ph40 {
					text-shadow: -1px -1px 0 #50e3c2, 1px -1px 0 #50e3c2, -1px 1px 0 #50e3c2, 1px 1px 0 #50e3c2;
				}		

				&.ph52 {
					text-shadow: -1px -1px 0 #b398d4, 1px -1px 0 #b398d4, -1px 1px 0 #b398d4, 1px 1px 0 #b398d4;
				}		

				&.ph35 {
					text-shadow: -1px -1px 0 #eb47aa, 1px -1px 0 #eb47aa, -1px 1px 0 #eb47aa, 1px 1px 0 #eb47aa;
				}		

				&.ph33 {
					text-shadow: -1px -1px 0 #26b8a7, 1px -1px 0 #26b8a7, -1px 1px 0 #26b8a7, 1px 1px 0 #26b8a7;
				}

				&.ph25 {
					text-shadow: -1px -1px 0 #f98c2b, 1px -1px 0 #f98c2b, -1px 1px 0 #f98c2b, 1px 1px 0 #f98c2b;
				}		

				&.ph58 {
					text-shadow: -1px -1px 0 #ec1d57, 1px -1px 0 #ec1d57, -1px 1px 0 #ec1d57, 1px 1px 0 #ec1d57;
				}		

				&.ph575 {
					text-shadow: -1px -1px 0 #97d6e5, 1px -1px 0 #97d6e5, -1px 1px 0 #97d6e5, 1px 1px 0 #97d6e5;
				}		

				&.ph55 {
					text-shadow: -1px -1px 0 #fca941, 1px -1px 0 #fca941, -1px 1px 0 #fca941, 1px 1px 0 #fca941;
				}
			}

			.modal_title_mobile {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 20px;
				font-weight: 500;
				letter-spacing: 0.91px;
				text-align: center;
				color: #4a4a4a;
			}

			.modal_effect_mobile {
				display: inline-block;
				padding: 0 15px;
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 16px;
				font-weight: 500;
				text-align: center;
				color: #fff;

				&.ph57 {
					background-color: #83cdee;
				}

				&.ph40 {
					background-color: #51e1ca;
				}

				&.ph52 {
					background-color: #b398d4;
				}

				&.ph35 {
					background-color: #eb47aa;
				}

				&.ph33 {
					background-color: #26b8a7;
				}

				&.ph25 {
					background-color: #f98c2b;
				}

				&.ph{
					background-color: #cdca4e;
				}

				&.ph58{
					background-color: #ec1d57;
				}

				&.ph575 {
					background-color: #97d6e5;
				}

				&.ph55 {
					background-color: #fca941;
				}
			}

			.modal_text_mobile {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 16px;
				line-height: 1.63;
				letter-spacing: 0.89px;
				text-align: center;
				color: #636363;
			}
		}
	}	
}

.form {
	padding: 127px 110px;
	background-image: url(../img/BG_VIP_w.png);
	height: 100%;
	// border-left: 4px solid #de0717;

	@include range-width(0, 769px) {
		padding: 40px 20px;
		background-image: url(../img/BG_VIP.png);
		height: 100%;
	}

	.container {
		padding-top: 80px;
		background-color: #e4f5fc;
		max-width: calc(100%);
		
		@include range-width(0, 451px) {
			padding-top: 45px;
		}


		.title {
			.title_text {
				font-family: 'Poppins', sans-serif;
				font-size: 68px;
				font-weight: 600;
				letter-spacing: 1.53px;	
				text-align: center;
				color: #5b5d63;

				@include range-width(376px, 451px) {
					font-size: 32px;
					letter-spacing: 0.72px;
				}	

				@include range-width(0, 376px) {
					font-size: 30px;
					letter-spacing: 0.72px;
				}
			}
		}

		.icon {
			margin-top: 40px;

			@include range-width(0, 451px) {
				margin-top: 33px;
			}

			picture {
				display: inline-block;
			}
		}

		.text {
			margin-top: 100px;

			@include range-width(0, 451px) {
				margin-top: 50px;
			}
			

			> h3 {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 48px;
				font-weight: 500;
				letter-spacing: 0.8px;
				text-align: center;
				color: #636363;

				@include range-width(0, 451px) {
					font-size: 24px;
					letter-spacing: 1px;
				}
			}

			> p {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 32px;
				letter-spacing: 0.53px;
				text-align: center;
				color: #636363;

				> span {
					font-family: 'Poppins', sans-serif;
					font-size: 32px;
					letter-spacing: 0.53px;
					color: #636363;
				}

				@include range-width(0, 451px) {
					font-size: 17px;
				letter-spacing: 0.28px;	
				}
				&:nth-of-type(1) {
					margin-bottom: 0;
				}
			}
		}

		.text_span {
			max-width: 816px;
			margin: 25px auto;
			@include range-width(0, 451px) {
				max-width: auto;
				margin: 1rem auto;
			}

			> span {
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 24px;
				line-height: 1.5;
				letter-spacing: 0.86px;
				text-align: center;
				color: #85899f;

				@include range-width(0, 451px) {
					font-size: 14px;
					line-height: 1.57;
					letter-spacing: 0.23px;	
				}
			}
		}

		.img_text {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 30px;

			@include range-width(0, 451px) {
				margin-top: 0;
			}

			.item {
				position: relative;
				display: flex;
				align-items: baseline;

				@include range-width(0, 451px) {
					align-items: center;
				}

				&:nth-of-type(1) {
					> p {
						text-align: right;
						margin-right: 30px;						

						@include range-width(376px, 451px) {
							margin-right: 10px;
							margin-bottom: 0;
						}

						@include range-width(0, 376px) {
							margin-right: 5px;
							margin-bottom: 0;
						}
					}
				}

				&:nth-of-type(2) {
					> p {
						text-align: left;
						margin-left: 30px;

						@include range-width(376px, 451px) {
							margin-left: 10px;
							margin-bottom: 0;
						}
	
						@include range-width(0, 376px) {
							margin-left: 5px;
							margin-bottom: 0;
						}
					}

					
				}

				> p {
					font-family: 'Noto Sans TC', sans-serif;
					font-size: 18px;
					font-weight: 500;
					line-height: 1.44;
					letter-spacing: 0.3px;
					color: #85899f;

					@include range-width(0, 451px) {
						font-size: 10px;
						line-height: 1.4;
					letter-spacing: 0.17px;
					}
				}
			}

			> span {
				display: inline-block;
				margin: 0 50px;
				font-size: 72px;
				color: #ff7955;

				@include range-width(0, 451px) {
					width: 18px;
					height: 18px;
					margin: 0 20px;
					font-size: 28px;
				}
			}

			picture {
				display: inline-block;
			}
		}

		.fill_items {
			// margin-top: 35px;
			margin: 120px auto 35px auto;
			max-width: 1140px;

			@include range-width(0, 451px) {
				margin: 35px auto 0 auto;
			}

			> h2 {
				position: relative;
				font-size: 33px;
				font-weight: bold;
				letter-spacing: 2.47px;
				text-align: center;
				color: #ff8768;
				border-bottom: 1px solid #ff8768; 
				line-height: 0.1em;

				@include range-width(0, 451px) {
					font-size: 23.1px;	
					letter-spacing: 1.73px;
				}

				> span { 
					background:#e4f5fc; 
					padding: 0 30px;

					@include range-width(0, 451px) {
						padding:0 10px; 
					}
				}
			}

			> form {
				margin-top: 30px;
				padding: 0 10px;

				.input-box {
					margin: 1.5rem 0;

					@include range-width(0 ,451px) {
						margin: 0 0 1rem 0;
					}
					.row {

						label {
							display: flex;
							justify-content: space-between;
							font-size: 26px;
		
							@include range-width(0, 451px) {
								font-size: 16px;
							}
						}
		
						input {
							font-family: 'Noto Sans TC', sans-serif;
							font-size: 18px;
							font-weight: bold;
							letter-spacing: 2.08px;
							text-align: justify;
							color: #0275c9;
						}
		
						select {
							font-family: 'Noto Sans TC', sans-serif;
							font-size: 16px;
							font-weight: bold;
							letter-spacing: 1.08px;
							text-align: justify;
							// color: #0275c9;
							
						}
		
						.form-select {
							padding-right: 1.25em;
							background-position: right 0.5rem center;
		
							@include range-width(0, 376px) {
								padding-right: 1em;
								background-position: right 0.1rem center;
								font-size: 14px;
							}
						}
					}
					
				}

				.form-check-item {
					
					.label {
						display: block;
						position: relative;
						padding-left: 55px;
						margin-bottom: 12px;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
						cursor: pointer;
						font-family: 'Noto Sans TC', sans-serif;
						font-size: 26px;
						letter-spacing: 1px;
						text-align: justify;
						color: #4a4a4a;

						@include range-width(0, 451px) {
							padding-left: 35px;
							font-size: 14px;	
							font-weight: 500;
							letter-spacing: 0.54px;
						}

						input {
							position: absolute;
							opacity: 0;
							cursor: pointer;
							height: 0;
							width: 0;

							&:checked ~ .checkmark::after {
								content: '';
								display: inline-block;
								position: absolute;
								top: 5px;
								left: 5px;
								width: 29px;
								height: 29px;
								background-color: #ff8768;

								@include range-width(0, 451px) {
									top: 2px;
									left: 2px;
									width: 19px;
									height: 19px;	
								}
							}
						}

						img {

							width: 65px;
							height: 39px;

							@include range-width(0, 451px) {
								width: auto;
								height: auto;
							}
						}
					  }
					  
					  .checkmark {
						position: absolute;
						top: 0;
						left: 0;
						height: 40px;
						width: 40px;
						border: solid 1px #ff8768;
						background-color: #fff;

						@include range-width(0, 451px) {
							height: 25px;
							width: 25px;	
						}
					  }

					  
				}

				.button {
					padding: 5px 0;
					width: 100%;
					max-width: 300px;
					max-height: 65px;
					border: 0;
					background-color: #ff8768;
					font-family: 'Noto Sans TC', sans-serif;
					font-size: 18px;
					font-weight: bold;
					letter-spacing: 0.7px;
					text-align: center;
					color: #dfff00;

					
				}
			}

			.notice {
				margin-top: 40px;

				&:nth-of-type(2) {
					margin-top: 0;
				}

				.title {
					font-family: 'Noto Sans TC', sans-serif;
					font-size: 16px;
					font-weight: 500;
					line-height: 1.63;
					letter-spacing: 0.73px;
					color: #f750c2;
					text-align: left;
				}

				p {
					font-size: 14px;
					line-height: 1.71;
					letter-spacing: 0.7px;
					color: #636363;
					text-align: left;
				}

				ol {
					margin-bottom: 0;
					padding-left: 16px;

					li {
						font-size: 14px;
						line-height: 1.71;
						letter-spacing: 0.7px;
						color: #636363;	
						text-align: left;
					}
				}
			}
		}

		.ShinKong {
			padding: 34px 0;
	
			> img {
				width: 150px;
				height: 88px;

				@include range-width(0, 451px) {
					width: 100px;
					height: 50px;
				}
			}
		}
	}
}